/* CSS File for the To Do list web application */
* {
    box-sizing: border-box;
}

div h3 { 
    background-color: lightblue;
}

div span {
	background-color: red;
	cursor: crosshair;
}

ul {
	margin: 0;
    padding: 0;
}

ul li {
	cursor: crosshair;
    position: relative;
	overflow: auto;
    width: 400px;
    height: 40px;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 20px;
    transition: 2width 2.0s;
    display: inline-block 


    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
	background: fff;
}

ul li.checked {
    background: #666;
    color: #fff;
    text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 10px;
}



